<h1>Welcome to PizzaBox</h1>

<li>
    <p>
    <form action="./order">
        <label>Customers Here</label>
        <input type="submit" value="Customer" />
    </form>
    </p>
    <p>
    <form action="./store">
        <label>Stores Here</label>
        <input type="submit" value="Store" />
    </form>
    </p>
</li>
